@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1196px;
    margin: auto;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 99999;
}
.active{
    color: #002A93;
}
.default-btn{
    background: #002A93;
    border-radius: 9999px;
    font-size: 16px;
    color: #fff;
}
header .tiktok{
    background: url('../src/assets/images/header/tiktok_icon.svg') no-repeat;
    background-size: 100% 100%;    
}
header .tiktok:hover{
    background: url('../src/assets/images/header/tiktok_hover_icon.svg') no-repeat;
    background-size: 100% 100%;
}
header .whatsapp{
    background: url('../src/assets/images/header/whatsapp_icon.svg') no-repeat;
    background-size: 100% 100%;
}
header .whatsapp:hover{
    background: url('../src/assets/images/header/whatsapp_hover_icon.svg') no-repeat;
    background-size: 100% 100%;
}
header .facebook{
    background: url('../src/assets/images/header/facebook_icon.svg') no-repeat;
    background-size: 100% 100%;
}
header .facebook:hover{
    background: url('../src/assets/images/header/facebook_hover_icon.svg') no-repeat;
    background-size: 100% 100%;
}
header .vector{
    background: url('../src/assets/images/header/vector_icon.svg') no-repeat;
    background-size: 100% 100%;
}
header .vector:hover{
    background: url('../src/assets/images/header/vector_hover_icon.svg') no-repeat;
    background-size: 100% 100%;
}
header .linkedin{
    background: url('../src/assets/images/header/linkedin_icon.svg') no-repeat;
    background-size: 100% 100%;
}
header .linkedin:hover{
    background: url('../src/assets/images/header/linkedin_hover_icon.svg') no-repeat;
    background-size: 100% 100%;
}
header .instagram{
    background: url('../src/assets/images/header/instagram_icon.svg') no-repeat;
    background-size: 100% 100%;
}
header .instagram:hover{
    background: url('../src/assets/images/header/instagram_hover_icon.svg') no-repeat;
    background-size: 100% 100%;
}
header .youtube{
    background: url('../src/assets/images/header/youtube_icon.svg') no-repeat;
    background-size: 100% 100%;
}
header .youtube:hover{
    background: url('../src/assets/images/header/youtube_hover_icon.svg') no-repeat;
    background-size: 100% 100%;
}
header .phone{
    background: url('../src/assets/images/header/phone_icon.svg') no-repeat;
    background-size: 100% 100%;
}
header .call:hover>.phone{
    background: url('../src/assets/images/header/phone_hover_icon.svg') no-repeat;
    background-size: 100% 100%;
}

#nav-menu .nav-tiktok{
    background: url('../src/assets/images/header/tiktok.svg') no-repeat;
    background-size: 60% 60%;
    background-position: center;
    background-color: #EDF0F7;    
}
#nav-menu .nav-tiktok:hover{
    background: url('../src/assets/images/header/tiktok_icon.svg') no-repeat;
    background-size: 60% 60%;
    background-position: center;
    background-color: #F9901C; 
}
#nav-menu .nav-whatsapp{
    background: url('../src/assets/images/header/whatsapp.svg') no-repeat;
    background-size: 60% 60%;
    background-position: center;
    background-color: #EDF0F7;    
}
#nav-menu .nav-whatsapp:hover{
    background: url('../src/assets/images/header/whatsapp_icon.svg') no-repeat;
    background-size: 60% 60%;
    background-position: center;
    background-color: #F9901C; 
}
#nav-menu .nav-facebook{
    background: url('../src/assets/images/header/facebook.svg') no-repeat;
    background-size: 60% 60%;
    background-position: center;
    background-color: #EDF0F7;    
}
#nav-menu .nav-facebook:hover{
    background: url('../src/assets/images/header/facebook_icon.svg') no-repeat;
    background-size: 60% 60%;
    background-position: center;
    background-color: #F9901C; 
}
#nav-menu .nav-instagram{
    background: url('../src/assets/images/header/instagram.svg') no-repeat;
    background-size: 60% 60%;
    background-position: center;
    background-color: #EDF0F7;    
}
#nav-menu .nav-instagram:hover{
    background: url('../src/assets/images/header/instagram_icon.svg') no-repeat;
    background-size: 60% 60%;
    background-position: center;
    background-color: #F9901C; 
}
#nav-menu .nav-vector{
    background: url('../src/assets/images/header/vector.svg') no-repeat;
    background-size: 60% 60%;
    background-position: center;
    background-color: #EDF0F7;    
}
#nav-menu .nav-vector:hover{
    background: url('../src/assets/images/header/vector_icon.svg') no-repeat;
    background-size: 60% 60%;
    background-position: center;
    background-color: #F9901C; 
}
#nav-menu .nav-linkedin{
    background: url('../src/assets/images/header/linkedin.svg') no-repeat;
    background-size: 60% 60%;
    background-position: center;
    background-color: #EDF0F7;    
}
#nav-menu .nav-linkedin:hover{
    background: url('../src/assets/images/header/linkedin_icon.svg') no-repeat;
    background-size: 60% 60%;
    background-position: center;
    background-color: #F9901C; 
}
#nav-menu .nav-youtube{
    background: url('../src/assets/images/header/youtube.svg') no-repeat;
    background-size: 60% 60%;
    background-position: center;
    background-color: #EDF0F7;    
}
#nav-menu .nav-youtube:hover{
    background: url('../src/assets/images/header/youtube_icon.svg') no-repeat;
    background-size: 60% 60%;
    background-position: center;
    background-color: #F9901C; 
}


.service-item{
    display: flex;
    border: 2px solid rgba(0, 42, 147, 0.15);
    border-radius: 9px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}
.service-item:hover{
    box-shadow: 4px 4px 15px -3px rgba(0, 42, 147, 0.15), 8px 8px 6px -4px rgb(255 255 255 / 10%);
}
.service-item .img{
    width: 68px;
    height: 72px;
    background: #CCD3E5;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-start-start-radius: 6px;
    border-end-start-radius: 6px;
}
.service-item .subject{
    background: #F0F1F3;
    color: #303950;
    font-weight: 600;    
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 24.2px;
    padding-right: 18px;
    padding-left: 18px;
    border-start-end-radius: 9px;
    border-end-end-radius: 9px;
}
.person-item .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #002A93;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    opacity: 0;
    transition: all 0.5s ease-out;
    height: 54px;
    width: 100%;
    position: absolute;
    top: 0;
}
/*flex justify-center items-center bg-[#002A93] rounded-b-[14px] h-[54px] opacity-0 top-0 absolute w-full*/
.person-item:hover .social-icons{
    opacity: 1;
    transition: all 0.5s ease-out;    
}
/** Slide **/
.splide__pagination{
    position: relative !important;
    padding-top: 50px !important;
}
/** Scroll Animation **/
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
} 
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
/** Footer link **/
.footer-link a{
    display: block;
    line-height: 19.36px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 18px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}
.footer-link a:hover{
    font-weight: 600;
}
.footer-link a.active{
    color: #F9901C;
}


@media (max-width: 640px) { 
    .service-item{
        margin-bottom: 7px;
    }
    .service-item img{ 
        width: 26px;
    }
    .service-item .subject{
        font-size: 15px;
        line-height: 18px;
    }
    .footer-link a{
        margin-bottom: 15px;
    }
}